<div class="c-card">
  <a class="c-card__link" href="{{ link }}">
    {% embed "@layouts/objects/block.twig" with { style_mod: 'left o-block--small' } %}

      {% block block_img %}
        <img class="c-card__image" src="{{ image.src|resize(image.width, image.height) }}" alt="{{ title }}" title="{{ title }}">
      {% endblock %}

      {% block block_body %}
        <div class="u-ph-small">
          {% include '01-molecules/text/entry-header/entry-header.twig' %}
          <p>{{ body }}</p>
        </div>
      {% endblock %}

    {% endembed %}
  </a>

  {% set category = category|merge({'style_mod': 'dark'}) %}
  {% include '01-molecules/01-buttons/pill-button/pill-button.twig' with category %}
</div>
