<div class="c-field">
  <label for="{{ id }}" class="c-field__label">{{ label }}</label>
  <input id="{{ id }}" name="{{ name }}" class="c-field__input" type="{{ type }}" placeholder="{{ placeholder }}" value="{{ value }}" />
</div>
