<div class="c-field">
  <label for="{{ field.id }}" class="c-field__label">{{ field.label }}</label>
  <input id="{{ field.id }}" name="{{ field.name }}" class="c-field__input" type="{{ field.type }}" placeholder="{{ field.placeholder }}" value="{{ value }}" />
  <small class="c-field__error u-text-error">{{ error_msg }}</small>
</div>
