<ul class="c-pagination o-list-inline">
  {% if prev %}
    <li class="c-pagination__item o-list-inline__item">
      <a class="c-pagination__item-link u-link-inverse" href="{{ prev.get_link }}">
        <b>{{ prev.label }}</b>
      </a>
    </li>
  {% endif %}
  {% for item in items %}
    <li class="c-pagination__item o-list-inline__item">
      <a class="c-pagination__item-link {{ item.active ? 'c-pagination__item-link--active' }} u-link-inverse" href="{{ item.get_link }}">
        <b>{{ item.label }}</b>
      </a>
    </li>
  {% endfor %}
  {% if next %}
    <li class="c-pagination__item o-list-inline__item">
      <a class="c-pagination__item-link u-link-inverse" href="{{ next.get_link }}">
        <b>{{ next.label }}</b>
      </a>
    </li>
  {% endif %}
</ul>
