<div class="c-comment-form">
  {# {% include '02-organisms/forms/stacked-form/stacked-form.twig' with form %} #}

  <h3>Post a Comment</h3>

  <form method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
    {% if user %}
      <input type="hidden" name="email" value="{{ user.email }}">
      <input type="hidden" name="author" value="{{ user.name }}">
      <input type="hidden" name="url" value="{{ user.link }}">
    {% else %}
      <div>
        <label for="author">Name</label>
        <input required name="author" type="text" id="author"/>

        <label for="email">Email</label>
        <input required name="email" type="text" id="email"/>

        <label for="url">Website</label>
        <input name="url" id="url" type="text"/>
      </div>
    {% endif %}

    <div>
      <label for="comment">Comment</label>
      <textarea placeholder="comment text" name="comment" cols="60" rows="3" id="comment"></textarea>
    </div>

    <input name="comment_post_ID" value="{{ post.id }}" id="comment_post_ID" type="hidden">
    <input name="comment_parent" id="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">

    <div>
      <button type="submit" name="Submit" class="btn"> send </button>
      <button type="reset"> cancel </button>
    </div>

  </form>
</div>
