<form class="c-stacked-form" name="{{ name }}" method="{{ method }}" action="{{ action }}">
  {% for field in fields %}
    <div class="o-box o-box--small">

      {# WIP - need to add select, radio, checkbox #}
      {% if field.type == 'text' %}

        {% include '01-molecules/forms/field/field.twig' with {
          value: validator.input().escape(field.name),
          error_msg: validator.errors().first(field.name)
        } %}

      {% elseif field.type == 'textarea' %}
        {% include '01-molecules/forms/textarea/textarea.twig' with {
          value: validator.input().escape(field.name),
          error_msg: validator.errors().first(field.name)
        }%}
      {% endif %}

    </div>
  {% endfor %}

  {{ validator.token_fields }}

  <div class="o-box o-box--small">
    <input class="c-btn c-btn--primary" type="submit" value="{{ submit }}">
  </div>

</form>
