<div class="c-inline-gallery">
  <div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      {% for item in items %}
        <div class="c-inline-gallery__slide swiper-slide">
          <img class="c-inline-gallery__slide-image" src="{{ item.image.src }}" alt="{{ item.image.alt }}" title="{{ item.image.title }}">
        </div>
      {% endfor %}
    </div>
  </div>
  <ul class="c-inline-gallery__nav o-list-inline u-mt-tiny u-hidden-until-sm">
    {% for item in items %}
      <li class="c-inline-gallery__nav-item o-list-inline__item" data-index="{{ loop.index0 }}">
        <img class="c-inline-gallery__nav-thumb" src="{{ item.thumb.src }}" alt="{{ item.thumb.alt }}" title="{{ item.thumb.title }}">
      </li>
    {% endfor %}
  </ul>
</div>
