<div class="c-textarea">
  <label class="c-textarea__label" for="{{ field.id }}">{{ field.label }}</label>
  <textarea id="{{ field.id }}" name="{{ field.name }}" class="c-textarea__text" rows="10">{{ value }}</textarea>
  <small class="c-field__error u-text-error">{{ error_msg }}</small>
</div>
