<div class="o-block">

  <div class="o-block__img">
    {% if icon %}
      <i class="fa {{ icon }}" aria-hidden="true"></i>
    {% else %}
      <img src="{{ image.src }}" alt="{{ image.alt }}" title="{{ image.title }}">
    {% endif %}
  </div>

  <div class="o-block__body">
    {% if heading %}<h3 class="o-block__body-heading">{{ heading }}</h3>{% endif %}
    {% if body %}<p class="o-block__body-text">{{ body }}</p>{% endif %}
  </div>

</div>
