<div class="o-media">
  <div class="o-media__img">
    {% if icon %}
      <i class="fa {{ icon }}" aria-hidden="true"></i>
    {% else %}
      <img src="{{ image.src }}" alt="{{ image.alt }}" title="{{ image.title }}">
    {% endif %}
  </div>
  <div class="o-media__body">
    <p>{{ body }}</p>
  </div>
</div>
