<div class="c-excerpt">
  <a class="c-excerpt__link-image u-text-primary" href="{{ url }}">
    <img class="c-excerpt__image" src="{{ image.src }}">
  </a>
  <div class="c-excerpt__terms u-hidden-until-md u-mt-small u-text-uppercase">
    {% include '01-molecules/00-navigation/inline-text-menu/inline-text-menu.twig' with {
      items: category
    } %}
  </div>
  <h3 class="c-excerpt__heading u-mb-none u-mt-small u-mt-none@md">
    <a class="c-excerpt__heading-link u-text-primary" href="{{ url }}">
      {{ heading }}
    </a>
  </h3>
  <p class="c-excerpt__date">{{ date }} by: {{ author }}</p>
  <p class="c-excerpt__body u-hidden-until-md">{{ body }}</p>
</div>
