<div class="c-comment comment {{comment.comment_type}} u-pt" id="comment-{{comment.ID}}">
  <div class="o-flag o-flag--small">
    <div class="o-flag__img">
      <img class="c-comment__avatar" src="{{ comment.avatar }}" alt="" title="">
    </div>
    <div class="o-flag__body">
      <p class="c-comment__author u-text-md u-m-none"><b>{{ comment.author }}</b></p>
      <p class="c-comment__time u-text-sm">{{ comment.date }} at {{ comment.time }}</p>
    </div>
  </div>
  <div class="c-comment__body u-mt">
    {{ comment.content|wpautop }}
  </div>
  <div class="c-comment__reply u-mb">
    {{ comment.reply_link }}
  </div>
</div>
